<html>

<head>
    {% load static %}
    <link href="{% static 'work/style.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'work/css/materialize.min.css' %}" rel="stylesheet">
    <link href="{% static 'work/js/materialize.min.js' %}" rel="text/javascript"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<style type="text/tailwindcss">
  @theme {
    --color-clifford: #da373d;
  }
</style>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div id="base">
        <!-- <div id='nav' :class="{'section':true, 'leftnavExpanded': navCollapse,'leftnavMini': !navCollapse}"> -->
        <div id='nav'>
            <!-- <div @click="leftNav = !leftNav">{: leftNav? 'Minimize':'Show' :}</div> -->
            <ul>
                <strong>Project Monitoring</strong>
                <li><a target="_blank" href="{% url 'work:index' %}">Summary</a></li>
                <li><a target="_blank" href="{% url 'work:detail' %}">Details</a></li>
                <li><a target="_blank" href="{% url 'consumers:index' %}">Consumers</a></li>
                <li><a target="_blank" href="{% url 'work:resolution' %}">Resolution/Issues</a></li>
                <li><a target="_blank" href="{% url 'work:updateProgress2' %}">Update Progress</a></li>
                <li><a target="_blank" href="{% url 'work:projectwise' %}">Projectwise Overview</a></li>
                <li><a target="_blank" href="{% url 'work:divisionwise' %}">Divisionwise Overview</a></li>
            <!-- <li><a target="_blank" href="#upload_surveydata">Upload Survey Data</a></li> -->
                <!-- <li><a target="_blank" href="#recent_changes">Recent Changes</a></li> -->
                <!-- <li><a target="_blank" href="#reload_dpr">Load DPR</a></li> -->
            </ul>
        </div>
    </div>

    <div id='content'>
        {% if messages %}
        <div class="flash">
            <ul>
                {% for message in messages %}
                <li class="{{message.tags}}">{{ message | safe}}</li>
                {% endfor %}
            </ul>

        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    <div id="right">
        {% block right %}
        {% endblock %}
    </div>
    <div style="height: 20vh;"></div>
    </div>
    <!-- <script type="text/javascript" src="{% static 'work/js/materialize.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'work/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'work/js/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'work/js/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'work/js/js.cookie.min.js' %}"></script>
    {% block script %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'work/js/script.js' %}"></script>
</body>

</html>