{% extends 'office/base.html' %}

{% block content %}
{% load widget_tweaks %}
<style>
  p {
  border: 1px solid #3e2828d3;
  margin: 1px;
  padding: 1px;
  }
</style>
<div>
  <h2>update consumer database</h2>
    <form method="post" enctype="multipart/form-data" class="border">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="border">Update consumer master</button>
    </form>
    {% if error %}
        <p class="text-red-500">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}